* {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: black;
    background: none;
}

.main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro-video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
}